### Deliverable 3: Optimize the Model

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("charity_data.csv")
application_df.head()

2022-09-09 13:46:26.229646: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# using .drop on "EIN" & "NAME"
df = application_df.drop(columns=["EIN", "NAME","SPECIAL_CONSIDERATIONS","STATUS"], axis=1)
df.head(5)

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,0,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1-9999,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,0,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,10000-24999,6692,1
4,T3,Independent,C1000,Heathcare,Trust,100000-499999,142590,1

In [3]:
#Counting unique values in each column
df.nunique()

APPLICATION_TYPE      17
AFFILIATION            6
CLASSIFICATION        71
USE_CASE               5
ORGANIZATION           4
INCOME_AMT             9
ASK_AMT             8747
IS_SUCCESSFUL          2
dtype: int64

In [4]:
# Determining the count of each unique value in "APPLICATION_TYPE"
application_type_counts = df.APPLICATION_TYPE.value_counts()
application_type_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Removing the values which have a count of less than 500, so that there are a total of 9 remaining
remove_application_types = list(application_type_counts[application_type_counts < 16].index)
for app in remove_application_types:
    df.APPLICATION_TYPE = df.APPLICATION_TYPE.replace(app,"Other")
df.APPLICATION_TYPE.value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
T13         66
T12         27
T2          16
Other       11
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Determining the count of each unique value in "CLASSIFICATION"
classification_counts = df.CLASSIFICATION.value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# Removing the values which have a count of less than 700, so that there are a total of 7 remaining
remove_classification = list(classification_counts[classification_counts < 50].index)
for app in remove_classification:
    df.CLASSIFICATION = df.CLASSIFICATION.replace(app,"Other")
df.CLASSIFICATION.value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      391
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
Name: CLASSIFICATION, dtype: int64

In [8]:
# List of categorical variable
categorical_variables = ["APPLICATION_TYPE","AFFILIATION","CLASSIFICATION","USE_CASE", "ORGANIZATION","INCOME_AMT"]

In [9]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(df[categorical_variables]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(categorical_variables)
encode_df.shape

/Users/shaneabbley/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

(34299, 53)

In [10]:
# Merge one-hot encoded features and drop the originals
df = df.merge(encode_df, left_index=True, right_index=True).drop(columns=categorical_variables, axis=1)
df.head()

,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [11]:
# Split our preprocessed data into our features and target arrays
y = df.IS_SUCCESSFUL
X = df.drop("IS_SUCCESSFUL", axis=1)

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0, stratify=y)

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [13]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features = len(X_train_scaled[0])
nodes_hidden_layer1 = 20
#nodes_hidden_layer2 = 50
#nodes_hidden_layer3 = 20
#nodes_hidden_layer4 = 10

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=nodes_hidden_layer1, activation="relu", input_dim=input_features))

# Second hidden layer
# nn.add(tf.keras.layers.Dense(units=nodes_hidden_layer2, activation="sigmoid"))

# Third hidden layer
# nn.add(tf.keras.layers.Dense(units=nodes_hidden_layer3, activation="sigmoid"))

# Fourth hidden layer
# nn.add(tf.keras.layers.Dense(units=nodes_hidden_layer4, activation="sigmoid"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 20)                1100

 dense_1 (Dense)             (None, 1)                 21

=================================================================
Total params: 1,121
Trainable params: 1,121
Non-trainable params: 0
_________________________________________________________________

2022-09-09 13:46:29.422024: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [14]:
# Import checkpoint dependencies
import os
from tensorflow.keras.callbacks import ModelCheckpoint

# Define the checkpoint path and filenames
os.makedirs("checkpoints/",exist_ok=True)
checkpoint_path = "checkpoints/weights.{epoch:02d}.hdf5"

In [15]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [16]:
# Create a callback that saves the model's weights every 5 epochs
cp_callback = ModelCheckpoint(
    filepath=checkpoint_path,
    verbose=1,
    save_weights_only=True,
    save_freq='epoch',
    period=5)

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.

In [17]:
# Train the model
fit_model = nn.fit(X_train, y_train,epochs=30)

Epoch 1/30
804/804 [==============================] - 1s 967us/step - loss: 16216.6211 - accuracy: 0.5075
Epoch 2/30
804/804 [==============================] - 1s 950us/step - loss: 13001.4326 - accuracy: 0.5052
Epoch 3/30
804/804 [==============================] - 1s 944us/step - loss: 26458.9863 - accuracy: 0.5149
Epoch 4/30
804/804 [==============================] - 1s 960us/step - loss: 10769.5488 - accuracy: 0.4946
Epoch 5/30
804/804 [==============================] - 1s 936us/step - loss: 11702.6562 - accuracy: 0.5229
Epoch 6/30
804/804 [==============================] - 1s 946us/step - loss: 31141.5254 - accuracy: 0.5140
Epoch 7/30
804/804 [==============================] - 1s 968us/step - loss: 5888.4863 - accuracy: 0.5572
Epoch 8/30
804/804 [==============================] - 1s 946us/step - loss: 19179.8691 - accuracy: 0.5538
Epoch 9/30
804/804 [==============================] - 1s 968us/step - loss: 7675.4668 - accuracy: 0.5393
Epoch 10/30
804/804 [==============================] - 1s 946us/step - loss: 31880.5430 - accuracy: 0.5543
Epoch 11/30
804/804 [==============================] - 1s 927us/step - loss: 12494.8613 - accuracy: 0.5175
Epoch 12/30
804/804 [==============================] - 1s 947us/step - loss: 8572.8916 - accuracy: 0.5602
Epoch 13/30
804/804 [==============================] - 1s 951us/step - loss: 7421.4512 - accuracy: 0.5469
Epoch 14/30
804/804 [==============================] - 1s 953us/step - loss: 7545.6812 - accuracy: 0.5780
Epoch 15/30
804/804 [==============================] - 1s 965us/step - loss: 15237.3682 - accuracy: 0.5083
Epoch 16/30
804/804 [==============================] - 1s 958us/step - loss: 17074.0332 - accuracy: 0.5139
Epoch 17/30
804/804 [==============================] - 1s 977us/step - loss: 11269.6113 - accuracy: 0.5395
Epoch 18/30
804/804 [==============================] - 1s 963us/step - loss: 9363.4287 - accuracy: 0.5544
Epoch 19/30
804/804 [==============================] - 1s 956us/step - loss: 15498.5898 - accuracy: 0.5559
Epoch 20/30
804/804 [==============================] - 1s 960us/step - loss: 25249.5957 - accuracy: 0.5430
Epoch 21/30
804/804 [==============================] - 1s 963us/step - loss: 12331.8877 - accuracy: 0.5655
Epoch 22/30
804/804 [==============================] - 1s 965us/step - loss: 19100.8633 - accuracy: 0.6056
Epoch 23/30
804/804 [==============================] - 1s 964us/step - loss: 8177.0610 - accuracy: 0.5477
Epoch 24/30
804/804 [==============================] - 1s 957us/step - loss: 2522.8613 - accuracy: 0.6109
Epoch 25/30
804/804 [==============================] - 1s 964us/step - loss: 4008.6765 - accuracy: 0.5929
Epoch 26/30
804/804 [==============================] - 1s 952us/step - loss: 4043.3779 - accuracy: 0.5763
Epoch 27/30
804/804 [==============================] - 1s 974us/step - loss: 5341.8496 - accuracy: 0.5424
Epoch 28/30
804/804 [==============================] - 1s 973us/step - loss: 15830.4600 - accuracy: 0.5370
Epoch 29/30
804/804 [==============================] - 1s 968us/step - loss: 18271.2656 - accuracy: 0.5432
Epoch 30/30
804/804 [==============================] - 1s 967us/step - loss: 10409.0596 - accuracy: 0.5986

In [18]:
# Evaluate the model using the test data to determine the loss and accuracy.
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 3.5727 - accuracy: 0.7101 - 268ms/epoch - 1ms/step
Loss: 3.5727438926696777, Accuracy: 0.7100874781608582

In [19]:
# Save and export your results to an HDF5 file
nn.save("AlphabetSoupCharity_Optimization.h5")